<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="hu-HU">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>$title</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="mystyle.css">
</head>
<body>
<div id="continer">
<div id="header">
<h1>$header</h1>
<div>$costumer_name</div>
</div>
<div id="content">

<p>$products_title</p>
<table>
<tr>
#foreach($item in $products_header)
<th>$item</th>
#end
</tr>
#foreach($table1_content_row in $products_in_box)
<tr>
#foreach($table1_content_row_item in $table1_content_row)
<td>$table1_content_row_item</td>
#end
</tr>
#end
</table>

#if ($products_not_packable.size() > 0)
<p>$not_packable_header</p>
<table>
<tr>
#foreach($item in $products_header)
<th>$item</th>
#end
</tr>
#foreach($table1_content_row in $products_not_packable)
<tr>
#foreach($table1_content_row_item in $table1_content_row)
<td>$table1_content_row_item</td>
#end
</tr>
#end
</table>
#end

<p>$title_for_packaging</p>

<p>$box_title</p>
<table>
<tr>
#foreach($item in $box_header)
<th>$item</th>
#end
</tr>

#foreach($row in $box)
<tr>
#foreach($item in $row)
<td>$item</td>
#end
</tr>
#end
</table>

<p>$wrapper_title</p>

<p>$matrix_sheets_title</p>
<table>
<tr>
#foreach($item in $matrix_sheets_header)
<th>$item</th>
#end
</tr>

#foreach($row in $matrix_sheets)
<tr>
#foreach($item in $row)
<td>$item</td>
#end
</tr>
#end
</table>

<p>$calculation_title</p>
<table>
<tr>
#foreach($item in $calculation_header)
<th>$item</th>
#end
</tr>

#foreach($row in $calculation)
<tr>
#foreach($item in $row)
<td>$item</td>
#end
</tr>
#end
</table>

</div>
</div>
</body> 
</html>